<html>
<head>
	<title>TAL Sequence Alginment</title>
</head>
<body>
	<h1 style="font-family:verdana">TALE Sequence Alignment</h1>
	<form action = "/tale/align" method = "get" style = "font-family:verdana">
		<style="font-family:verdana">Enter reference sequence:<br />
		<textarea name = "reference" rows= "25" cols ="100">{{seq}}</textarea>
		<p>
		Enter sequence: <br />
		<textarea name ="sequences" rows = "25" cols="100"></textarea><br /> <br />
		<input type = "submit" value = "Align" />
	</form>
</body>
</html>